*{
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
    width: 100%;
    background-color: rgb(246, 246, 250);
}
.navbar{
    height: 150px;
    width: 100%;
    display: flex;
}
.navbar img{
    height: 50px;
    width: 100px ;
    margin: 50px;
    
}
.menu ul {
    display:flex;
}
.menu ul li {
    list-style: none;
    margin-left: 50px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
}
.menu{
    margin: 70px;
    margin-left: 300px;
}
.menu button{
    height: 50px;
    width: 200px;
    background-color: rgb(155, 70, 168);
    color: white;
    border: 0;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
}
.content1{
    height: 700px;
    width: 100%;
}
.content11{
    height: 500px;
    width: 90%;
    background-color: rgb(48, 13, 48);
    border-radius: 20px;
    color: white;
}
.content11 h1{
    font-size: 50px;
    margin-right: 650px;
    margin-top: 50px;
    padding: 30px;
}
.content11 p{
    font-size: 20px;
    margin-right: 600px;
    padding: 30px;
}
.content11 button{
    height: 50px;
    width: 200px;
    background-color: rgb(155, 70, 168);
    color: white;
    border: 0;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px;
}
.content12 .button2{
    height: 50px;
    width: 200px;
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px;
} 
.content1 .image1 img{
    height: 250px;
    width: 250px;
    border-radius: 50px;
    margin-left: 600px;
    margin-top: -700px;
}
.content1 .image2 img{
    height: 400px;
    width: 350px;
    border-radius: 50px;
    margin-left: 900px;
    margin-top: -800px;
}
.content1 .image3 img{
    height: 250px;
    width: 400px;
    border-radius: 50px;
    margin-left: 700px;
    
}
.content2{
    height: 700px;
    width: 100%;
}
.content2 h1{
    font-size: 60px;
    margin-left: 20px;
    margin-right: 600px;
}
.content21{
    display: flex;
}
.box1{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 241, 219);
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 20px;
}
.box2{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 241, 219);
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.box3{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 241, 219);
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.box1 h2{
    margin: 20px;
    font-size: 25px;
}
.content21 span{
    color:rgb(241, 127, 85);
    
}
.box11{
    display: flex;
    font-size: 20px;
    margin-left: 15px;
}
.box11 p{
    margin-left: 10px;
}
.box12{
    display: flex;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
}
.box12 ion-icon{
    margin: 3px;
}
.box13{
    font-size: 20px;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}
.box14{
    font-size: 20px;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}
.box15{
    font-size: 20px;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}
.box2 h1{
    font-size: 25px;
    margin: 25px;
}
.box21{
    display: flex;
    font-size: 20px;
    margin-left: 30px;
}
.box21 p{
    margin-left: 10px;
}
.box2 h2{
    margin-left: 30px;
    margin-top: 10px;
}
.box22{
    display: flex;
    margin: 20px;
    font-size: 20px;
}
.box22 p{
    margin-left: 10px;
}
.box3 h1{
    font-size: 25px;
    margin: 25px;
}
.box3 p{
    margin: 20px;
}
.box31{
    display: flex;
    font-size: 20px;
    margin-left: 20px;
}
.box31 p{
    margin-top: -4px;
}
.box31 ion-icon{
    margin-top: -3px;
}
.content3{
    height: 850px;
    width: 100%;
}
.content31{
    height: 800px;
    width: 90%;
    background-color: lavender;
    border-radius: 20px;
    margin: 30px;
    margin-left: 50px;
    display: flex;
}
.img1 img{
    height: 250px;
    width: 400px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 50px;
}
.img2 img{
    height: 250px;
    width: 400px;
    border-radius: 50px;
    margin-left: 150px;
    margin-top: 20px;
}
.data{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}
.data h1{
    font-size: 50px;
}
.data p{
    font-size: 20px;
    margin-top: 20px;
}
.Button{
    display: flex;
    margin-top: 30px;
}
.Button button{
    height: 50px;
    width: 200px;
    background-color: rgb(155, 70, 168);
    color: white;
    border: 0;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px; 
}
.Button .button2{
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: black;
    border: 1px black solid;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px;
}
.content4{
    height: 700px;
    width: 100%;
    margin-top: 50px;
}
.content4 h1{
    font-size: 50px;
    margin-left: 350px;
    margin-right: 350px;
}
.boxes{
    display: flex;
    margin-top: 30px;
}
.box41{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 241, 219);
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 20px;
}
.box42{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 241, 219);
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.box43{
    height: 360px;
    width: 350px;
    background-color: rgb(255, 241, 219);
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.box41 img{
    height: 100px;
    width: 80px;
    margin: 30px;
}
.box41 h3{
    font-size: 25px;
    margin-left: 30px;
}
.box41 p{
    margin-left: 30px;
    margin-right: 5px;
}
.content41{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
}
.box42 img{
    height: 90px;
    width: 80px;
    margin: 30px;
}
.box42 h3{
    font-size: 25px;
    margin-left: 30px;
}
.box42 p{
    margin-left: 30px;
    margin-right: 5px;
}
.box43 img{
    height: 80px;
    width: 80px;
    margin: 30px;
}
.box43 h3{
    font-size: 25px;
    margin-left: 30px;
}
.box43 p{
    margin-left: 30px;
    margin-right: 5px;
}
.content4 button{
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 1px black solid;
    border-radius: 50px;
    margin-left: 535px;
    margin-top: 30px;
    font-size: 16px;
}
.content5{
    height: 800px;
    width: 100%;
}
.content51{
    height: 600px;
    width: 90%;
    background-color: rgb(48, 13, 48);
    border-radius: 30px;
    margin-left: 120px;
}
.content5 img{
    height: 450px;
    width: 350px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: -50px;
}
.content51 .data1{
    color: white;
    margin-left: 500px;
    margin-top: -400px;
}
.content51 .data1 h2{
    font-size: 50px;
    
}
.data1 p{
    font-size: 20px;
   margin-top: 20px;
}
.content51 .Button .button2{
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px;
}
.content6{
    height: 700px;
    width: 100%;
    margin-top: 100px;
}
.content6 h1{
    font-size: 50px;
    margin-right: 800px;
    margin-left: 50px;
    
}
.content6 p{
    font-size: 20px;
    margin-left: 50PX;
    margin-right: 800px;
}
.content6 button{
    height: 50px;
    width: 200px;
    background-color: rgb(155, 70, 168);
    color: white;
    border: 0;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 80px;
    margin-top: 20px;
}
.content61 img{
    height: 450px;
    width: 350px;
    border-radius: 50px;
    margin-left: 500px;
    margin-top: -400px;
}
.content62 img{
    height: 450px;
    width: 350px;
    border-radius: 50px;
    margin-left: 900px;
    margin-top: -300px;
}
.content7{
    height: 700px;
    width: 95%;
    background-color: rgb(230, 214, 245);
    border-radius: 50px;
    margin-left: 30px;
    position: absolute;
}
.content7 h2{
    font-size: 50px;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 20px;
}
.content7 p{
    font-size: 20px;
    margin-right: 300px;
    margin-left: 350px;
    margin-top: 20px;
}
.content71{
    height: 350px;
    width: 600px;
    background-color: white;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 30px;
    position: absolute;
}
.content71 h3{
    font-size:30px;
    margin-left: 30px;
    margin-top: 20px;
}
.content7 .content71 p{
    font-size: 20px;
    width: 80%;
    margin-left: 70px;
    
}
.content72{
    display: flex;
    margin-left: 70px;
    margin-top: -150px;
}
.content72 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 200px;
}
 .para{
    font-size: 16px;
    margin-left: -50px;
    margin-top: 180px;
}
.content8{
    height: 800px;
    position: absolute;
    margin-top: 700px;
}
.content8 h1{
    font-size: 50px;
    margin-right: 400px;
    margin-top: 50px;
    margin-left: 30px;
}
.content81 button{
    height: 50px;
    width: 300px;
    background-color: transparent;
    color: black;
    border: 1px black solid;
    border-radius:50px ;
    margin-top: 100px;
    font-size: 16px;
    margin-left: -100px;
    margin-right: 100px;
   
}
.content81{
    display: flex;
    
}
.content82{
    margin-left: 20px;
    margin-top: 100px;
}
.content82 img{
    height: 300px;
    width: 400px;
    border-radius: 50px;
}
.content82 h3{
    margin-right: 850px;
    margin-top: 20px;
    margin-left: 20px;
}

.content83{
    margin-left: 450px;
    margin-top: -380px;
    
}
.content83 img{
    height: 300px;
    width: 400px;
    border-radius: 50px;
}
.content83 h3{
    margin-right: 450px;
    margin-top: 20px;
    margin-left: 20px;
}

.content84{
    margin-top: -390px;
    margin-left: 880px;
   
}
.content84 img{
    height: 300px;
    width: 400px;
    border-radius: 50px;
}
.content84 h3{
    margin-top: 20px;
    margin-left: 20px;
}
.content9{
    height: 450px;
    width: 95%;
    position: absolute;
    background-color: rgb(48, 13, 48) ;
    margin-left: 35px;
    border-radius: 30px;
    margin-top: 1500px;
}
.milk h2 {
    font-size: 60px;
    color: white;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
    place-content: center;
    text-align: center;
}
.content9 .Button .button2{
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius:50px ;
    margin-top: -10px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 10px;
}
.content9 .Button{
    margin-left: 350px;
    margin-top: 50px;
}
footer{
    height: 800px;
    width: 100%;
    margin-top: 2000px;
    display: flex;
}
.footer1{
    margin-right: 900px;
    margin-left: 50px;
}
.footer1 img{
    height: 50px;
    width: 150px ;
    margin-left: 50px;
}
.footer1 input{
    height: 50px;
    width: 250px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    border: 1px black solid;
    text-align: center;
    margin-top: 20px;
}
.footer1 p{
    font-size: 20px;
    margin-top: 30px;
   

}
.footer1 button{
    height: 50px;
    width: 200px;
    background-color: rgb(155, 70, 168);
    color: white;
    border: 0;
    border-radius:50px ;
    margin-top: 20px;
    font-size: 16px;
   
}
.footer2 ul li {
   list-style: none;
   margin-left: -800px;
   margin-top: 20px ;
   font-size: 20px;

}
.footer2 ul li a{
    text-decoration: none;
    
}
.footer3 ul li {
    list-style: none;
    margin-left: -600px;
    margin-top: 20px ;
    font-size: 20px;
 
 }
 .footer3 ul li a{
     text-decoration: none;
     
 }
 .footer3{
    margin-top: 50px;
 }
 .footer4 ul li {
    list-style: none;
    margin-left: -400px;
    margin-top: 20px ;
    font-size: 20px;
 
 }
 .footer4 ul li a{
     text-decoration: none;
     
 }
 .footer5 span{
    color:rgb(241, 127, 85);
    
}
.loc{
    display: flex;
}
.footer5 h3{
    margin-left: -150px;
    margin-top: 20px;
}
.footer5  .loc{
   margin-left: -150px;
   font-size: 20px;
}
.footer5 hr{
 margin-left: -150px;
}
.email{
    display: flex;
    font-size: 20px;
    margin-left: -150px;
}
.phone{
    display: flex;
    font-size: 20px;
    margin-left: -150px;
}


